{% extends 'base.html' %}

{% block pagination %}
<div class="pagination">
  <span class="step-links">
    {% if page_obj.has_previous %}
      <a href="?page=1">&laquo; first</a>
      <a href="?page={{ page_obj.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>

    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">next</a>
      <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
  </span>
</div>
{% endblock pagination %}

{% block content %}
<main>
  <h1>Your shopping list</h1>
  <div>
    <form method="POST" action="{% url 'shopping_item_delete' %}">
      {% csrf_token %}
      <button class="button">Delete All</button>
    </form>
    <ul>
      {% for item in shoppingitem_list%}
        <li>{{ item.food_item }} </li>

      {% endfor %}
  </div>
</main>

{% endblock content %}
{% comment %} {% block content %}
  <main class="recipe-grid">
    {% for shoppingitem in shoppingitem_list %}
      <div class="recipe-card">
        <h2 class="recipe-card-title">
          <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a>
        </h2>
       <p class="recipe-card-date">{{ recipe.updated }}</p> 
      </div>
    {% endfor %}
  </main>
{% endblock content %} {% endcomment %}